<div class="col-xs-4 col-xs-offset-4 text-center">
    <article ng-repeat="post in posts">
        <h1><a href="#">{{post.title}}</a></h1>
        <p>{{post.exerpt}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nisi odio neque aliquam magni explicabo sint iste incidunt minus itaque ducimus voluptas similique eos natus nobis alias quam accusamus, aspernatur doloremque amet, nesciunt esse velit. Repudiandae sunt dolorem esse eum, qui aliquid pariatur velit </p>
        <a href="#">Read more &rarr;</a>
    </article>
</div>