<h4 class="text-center">DOWN?</h4>
<div class ="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <fieldset class="form-group">
            <input class="form-control" placeholder="Name" title="host" ng-model="hostName">
        </fieldset>
        <fieldset class="form-group">
            <input t class="form-control" placeholder="What?" title="activity" ng-model="activityTitle" />
        </fieldset>
        <fieldset class="form-group">
            <input t class="form-control" placeholder="Where?" title="location" ng-model="location" />
        </fieldset>
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="My event is about..." title="description" ng-model="description" /></textarea> 
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" ng-click="create()" value="Submit" />
        </fieldset>
    </div>
</div>