<h4 class="text-center">DOWN?</h4>
<div class ="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <fieldset class="form-group">
            <textarea class="form-control" placeholder="Anyone want to do something fun...?" title="Review" ng-model="review.body"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="review.author" />
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </fieldset>
    </div>
</div>